<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8">
      <%= react_component("ResturantIndex", props: {cuisineTitles: @cuisine_titles,
                                                    resturants: @resturantlist,
                                                    tenbis: image_url("10bis.jpg"),
                                                    newResturant: new_resturant_path}) %>
    </div>
    <div class="col-sm-4 col-md-4" id="google-map">
      That's where google map will be
    </div>
  </div>
</div>